.movie-text {
  font-size: 14px;
}

.movie-img {
  width: 100%;
  height: 220px;
}

.rank,
.year,
.time {
  display: flex;
  align-items: center;
}

.rank::before,
.modal-rank::before {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  content: "";
  background-image: url("./images/star-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.year::before,
.modal-year::before {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  content: "";

  background-image: url("./images/calendar-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.time::before,
.modal-time::before {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  content: "";

  background-image: url("./images/clock-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.movie-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #00000080;
  backdrop-filter: blur(50px);
}

.modal-open {
  display: flex;
}

.modal-inner {
  background-color: #a3a375;
}

.search-input,
.select-input,
.to-input,
.from-input,
.sort-select {
  width: 150px;
}

.bookmark-btn {
  width: 25px;
  height: 25px;
  margin-top: 20px;
  border: none;
  background-color: transparent;
  background-image: url("./images/bookmark.png");
  background-position: center;
  background-size: contain;
}
.bookmark-clicked {
  background-image: url("./images/bookmark-yellow.png");
}

.bookmark-modal {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  color: white;
  background-color: black;
  animation-name: slide;
  animation-duration: 0.5s;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.bookmark-open {
  display: flex;
}

.bookmark-modal-close {
  margin-top: auto;
}
